* {
  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
  
    width: 100%;
    max-inline-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to left,#00a4dd, #37ccfd, #2ca9d3, #77ebff);
    background-size: 500% 100%;
    animation: degrade-animado 6s infinite ease alternate;
  }
  
  @keyframes degrade-animado{
    0% {
        background-position-x: 0%;
    }
    100%{
        background-position-x: 100%;
    }
  }
  .leaderboard {
    max-width: 0;
    margin: 0 auto;
    border-radius: 1rem;
    box-shadow: 2px 2px 16px 1px #f4f4f5cb;
    font-family: 'Montserrat', sans-serif;
    
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  header {
    background-color: #00a4dd;
    color: white;
    text-transform: uppercase;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    height: 14rem;
    position: relative;
  }
  
  
  h1 {
    font-size: 3rem;
    line-height: 3rem;
    position: absolute;
    margin-left: 3rem;
    top: 2rem;
  }
  
  img {
    height: 10rem;
    position: absolute;
    bottom: -90px;
    right: -30px;
  }
  
  nav {
    width: 100%;
    position: absolute;
    bottom: 0;
    font-size: 1.3rem;
    background: linear-gradient(to bottom, transparent, transparent 10%, rgba(22, 22, 22, 0.5));
    
  }
  
  nav a {
    padding-top: 1rem;
    padding-bottom: 0.75rem;
    display: inline-block;
    font-weight: bold;
  }
  
  nav a.active {
    display: inline-flex;
    border-bottom: 4px solid #f0a900;
  }
  
  nav a:first-child {
    margin-left: 2rem;
  }
  
  nav a+a {
      padding: 1rem;
  }
  
  table {
    background-color: #16181e;
    color: #999;
    width: 100%;
    border-collapse: collapse;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    overflow: hidden;
    height: 14rem;
  }
  
  thead {
    font-size: 1.2rem;
    color: #555;
    text-transform: uppercase;
  }
  
  tbody .nick {
    color: white;
    font-weight: bold;
    font-size: 1.3rem;
  }
  
  tbody tr:nth-child(2n) {
    background-color: #1f232c;
  }
  
  .nick {
    text-align: left;
  }
  
  .rank,
  .sp,
  .kd {
    font-size: 1.3rem;
    text-align: center;
  }
  
  .rank {
    padding-left: 1rem;
  }
  
  .sp,
  .kd {
    width: 8ch;
  }
  
  th {
    padding: 1.5rem 1rem 0.5rem;
  }
  
  td {
    padding: 1rem 1rem;
  }
   /* Modal */
    
   .modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    max-width: 506px;
    width: 100%;
    height: auto;
    place-content: center;
    margin: 0 0px;
    padding: 30px;
    opacity: 1;
    transition: .3s;
    
    
    
     
  }
  
  
  .modal_content{
    background-color: #1f232c;
    padding: 2rem 2rem 1rem;
    border-radius: 4px;
    border-top: .5rem solid #00a4dd;
    
    
    
    
  }
  .modal_title{
    margin-bottom: 1rem;
  }
  .modal_link{
    
    justify-content: center;
    align-items: center;
    background-color: #555;
    color: #fff;
    padding: 0.7rem 3rem;
    margin-top: 1rem;
    border-radius: 4px;
  
  }
  
  .modal_link:hover{
    background-color: #00a4dd;
  }
  .modal_link:active{
    background-color: aqua;
  }
  
  
  @media (max-width: 800px) {
  
    
    .leaderboard {
      max-inline-size: 90%;
      margin: 8rem;
  
    }
  
  
    table { 
      
      max-width: 300px;
    }
  
    header {
      height: 8rem;
      text-align: left;
      width: 310px;
    }
    header, .table {
      display: flex;
      max-width: 300px;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  
    h1 {
      font-size: 2rem;
      line-height: 2rem;
      left: -2rem;
      top: 1rem;   
      
      
    }
    nav a:first-child {
      margin-left: 1rem ;
    }
  
    img {
      height: 12rem;
      bottom: -1rem;
      left: 159px;
  
    }
    
    tbody{
      height: auto;
    }
    tr {
      font-size: 0.8rem;
    }
    .rank{
      font-size: 0.8rem;
    }
    .sp {
      font-size: 0.8rem;
    }
    .kd {
      font-size: 0.8rem;
    }
  
    th {
      padding: 1rem 0.5rem 0.5rem;
    }
    tbody .nick {
      font-size: 0.8rem;
    }
  
    td {
      padding: 0.5rem 0.5rem;
      max-width: 100px;
    }
    nav {
      font-size: 0.8rem;
    }
  
    .modal{
      margin: 0 -38px;
    }
    .modal_content{
      box-shadow: 2px 2px 16px 1px #ffffffc9;
    }
  }
  
  /* Regras de estilo para telas maiores ou iguais a 800px de largura */
  
  @media (min-width: 768px) {
  
    .leaderboard {
      margin: 2rem auto;
      max-width: 600px;
    }
    
    h1 {
      font-size: 4rem;
      line-height: 4rem;
      margin-left: 2rem;
    }
    
    img {
      height: 14rem;
      right: -3rem;
      bottom: 3rem;
    }
    
    tbody {
      height: 600px;
    }
  
    th {
      padding: 1.5rem 1rem 0.5rem;
    }
  
    td {
      padding: 1rem 1rem;
    }
    
    header {
      height: 14rem;
    }
  
  }
     
   
  