* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  max-inline-size: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
    to left,
    #080808,
    #28718a,
    #19bcf3,
    #77ebff
  );
  background-size: 500% 100%;
  animation: degrade-animado 10s infinite ease alternate;
}

@keyframes degrade-animado {
  0% {
    background-position-x: 0%;
  }
  100% {
    background-position-x: 100%;
  }
}
.leaderboard {
  margin: 4rem auto;
  max-width: 600px;
  border-radius: 1rem;
  box-shadow: 2px 2px 16px 1px #0202025d;
  font-family: "Montserrat", sans-serif;
}
table {
  display: none;
}
table.active {
  display: table;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  background-color: #00a4dd;
  color: white;
  text-transform: uppercase;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  height: 9rem;
  position: relative;
  background-image: linear-gradient(
    to left,
    #080808,
    #28718a,
    #19bcf3,
    #77ebff
  );
  background-size: 500% 100%;
  animation: degrade-animado 10s infinite ease alternate;
}

h1 {
  font-size: 3rem;
  line-height: 3rem;
  position: absolute;
  margin-left: 3rem;
  top: 2rem;
}

img {
  padding: 9px 0px 0px 257px;
  height: 6rem;
   margin-left: -1rem;
  margin-top: 0rem;
}

nav {
  width: 100%;
  position: absolute;
  bottom: 0;
  font-size: 1.3rem;
}

nav a {
  padding-top: 1rem;
  padding-bottom: 0.75rem;
  display: inline-block;
  font-weight: bold;
}

nav a.active {
  display: inline-flex;
  border-bottom: 4px solid #f0a900;
}

nav a:first-child {
  margin-left: 2rem;
}

nav a + a {
  padding: 1rem;
}

table {
  background-color: #16181e;
  color: #999;
  width: auto;
  border-collapse: collapse;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  height: 14rem;
}
table.active {
  display: table;
}

table.total tbody {
  height: 50px;
  max-width: 300px;
}

thead {
  font-size: 1rem;
  color: #555;
  text-transform: uppercase;
}

tbody .nick {
  color: white;
  font-weight: bold;
  font-size: 1.3rem;
}

tbody tr:nth-child(2n) {
  background-color: #1f232c;
}

.nick {
  text-align: left;
}

.rank,
.sp,
.kd {
  font-size: 1.3rem;
  text-align: center;
}

.rank {
  padding-left: 1rem;
}

.sp,
.kd {
  width: 14ch;
}

th {
  padding: 1.5rem 1rem 0.5rem;
}

td {
  padding: 1rem 1rem;
}

@media (max-width: 800px) {
  .leaderboard {
    max-width: 90%;
    margin: 5rem auto;
  }

  table {
    max-width: 100%;
    margin: 0 auto;
    display: none;
    background-color: #16181e;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    height: auto;
  }
  table#table-comissoes.comissao.active {
    justify-items: center;
    height: 4rem;
  }

  table.active {
    display: table;
  }
  table.total {
    justify-content: center;
  }
  tbody td {
    padding: 0.5rem 0.5rem;
  }

  header {
    max-width: 400px;
    height: 9rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

h1 {
  font-size: 2.3rem;
  line-height: 2.4rem;
  left: -2rem;
  top: 1rem;
  text-align: left;
}

nav a.active {
  display: inline-flex;
  border-bottom: 4px solid #f0a900;
}
nav a:first-child {
  margin-left: 1rem;
}

img {
  padding: 9px 0px 0px 250px;
}

tbody {
  height: auto;
}
tr {
  font-size: 0.8rem;
  height: 0rem;
}
.rank {
  font-size: 0.8rem;
}
.sp {
  font-size: 0.8rem;
}
.kd {
  font-size: 0.8rem;
}

th {
  padding: 1rem 0.5rem 0.5rem;
}
tbody .nick {
  font-size: 0.8rem;
}

td {
  padding: 0.5rem 0.5rem;
  max-width: 100px;
}
nav {
  background: linear-gradient(
    to bottom,
    transparent,
    transparent 10%,
    rgba(22, 22, 22, 0.5)
  );
  font-size: 0.9rem;
  padding-top: 10px;
}
@media (min-width: 768px){
  img {
    padding: 9px 0px 0px 275px;
    height: 7.5rem;
    margin-left: -1rem;
    margin-top: 0rem;
  }

  
}
